
/* Styles specific to home view only */

body > header h1.page-title {
    font-size: 3.5em;
    color: var(--themeColor);
    font-family: 'Amita', cursive;
}

body > header a {
   display: none;
}

body > article { /* ONE */
    /*display: flex;*/
    flex-direction: column;
}

body > article a{
    display: none; /* TWO */
    width: 85%;
    margin: 0 auto;
    border: 2px solid transparent;
    font-size: 1.3em;
    color: var(--textColor);
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body > article a:hover,
body > article a:focus {
    outline: none;
    border-bottom: 2px solid var(--themeColor);
    color: #f04000;
    box-shadow: 5px 5px 10px rgb(230, 230, 230);
}

body > div#root {
    display: none;
}


/*===========
media-queries
============*/

@media screen and (min-width: 370px) {
    body > header h1.page-title {
        font-size: 4.5em;
    }

    body > article a{
        font-size: 1.6em;
    }
}

@media screen and (min-width: 600px) {
    body > header h1.page-title {
        font-size: 5.5em;
    }

    body > article a{
        width: 510px;
    }
}

@media screen and (max-height: 400px) {
    body > header h1.page-title {
        font-size: 3.5em;
    }
}

