

/*

You can use one or both classes

.on {
    color: teal;
    border: 2px solid rgba(0, 187, 187, 0.7);
    box-shadow: 1px 1px 20px rgba(0, 187, 187, 0.7);
}

.off {
    color: #3a3a3a;
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px rgb(230, 230, 230);
}

*/