
@font-face {
    font-family: 'Amita';
    src: url('../fonts/Amita/Amita-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
}

body > * {
    max-width: 93%;
    margin: 0 auto;
}

body > header {
    height: var(--header-sm);
    display: flex;
    align-items: center;
}

body a {
   display: block;
}

div#root > main,
body > article  {
    height: calc(100vh - var(--header-sm));
}

div#root > main {
    height: calc(100vh - var(--header-sm));
}


/*===========
media-queries
============*/

@media screen and (min-width: 370px) {
    body > header {
        height: var(--header-lg);
    }

    div#root > main,
    body > article  {
        height: calc(100vh - var(--header-lg));
    }
}

@media screen and (min-width: 1010px) {
    body > header {
        max-width: 900px;
    }
}

@media screen and (max-height: 400px) {
    body > header {
        height: var(--header-sm);
    }

    div#root > main,
    body > article  {
        height: calc(100vh - var(--header-sm));
    }
}
